<h1>Canvas Game Collection</h1>
<section class="container">
    {{#games}}
        <a href="{{url}}" target="_blank" class="card">
            <img src="{{img}}">
            <h2>{{name}}</h2>
        </a>
    {{/games}}
</section>